:root {
    --primary-color: 180;
    --primary-s: 45%;
    --primary-l: 38%;
  
    --secondary-color: 220;
    --secondary-s: 60%;
    --secondary-l: 50%;
  
    --action-color: 140;
    --action-s: 70%;
    --action-l: 45%;
  }
  